body,
main,
.item-list,
.pagination {
  background: #ffffff;
}

.nav-button,
.main-title,
.icon-statusnet,
.icon-chart-line,
.icon-chart-pie,
.btn,
.selection,
.selectContainer input,
.item-container {
  color: #2b2a29;
}

.selectContainer,
.btn {
  background: none !important;
  border-color: #d8dbdf !important;
}
