html {
  background: url(/assets/img/mountain-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pagination {
  background: #2b2a29;
}

.nav-button,
.main-title,
.icon-statusnet,
.icon-chart-line,
.icon-chart-pie {
  color: #ffffff;
}
